@layouts.main{
    <div class="row intro">
        <h1>Welcome to N'App !!!</h1>
        <div class="row">
            <a href="@controllers.unauth.routes.Main.register()" class="btn btn-default">S'inscrire</a>
            <a href="@controllers.unauth.routes.Main.login()" class="btn btn-default">Se connecter</a>
        </div>
        <div class="row">
            <img title='"Ne le faites plus jamais seul !"' class="logo" src="@routes.Assets.at("images/logoNApp.png")" />
        </div>
    </div>
}
