@(error:Option[String]=None)

@layouts.main{

    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/login.js")"></script>

    <div class="intro" ng-app="login" ng-controller="LoginCtrl">
        <h1>Connexion</h1>
        <div class="row">
            <form id="loginForm" role="form" class="col-xs-12 col-md-4 col-md-offset-4" method="POST" action="@unauth.routes.Main.doLogin()">

                @error.map { errorMessage =>
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label for="login">Identifiant</label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Identifiant"/>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password"/>
                </div>
                <button type="button" ng-click="getPositionAndLogin()" class="btn btn-default">Se connecter</button>
                <input type="hidden" name="latitude" id="latitude" ng-model="latitude"/>
                <input type="hidden" name="longitude" id="longitude" ng-model="longitude"/>
            </form>
        </div>
    </div>
}
