@(error:Option[String]=None, firstName:Option[String]=None, lastName:Option[String]=None, login:Option[String]=None)

@layouts.main{
    <div class="intro">
        <h1>Inscription</h1>
        <div class="row">
            <form role="form" class="col-xs-12 col-md-4 col-md-offset-4" method="POST" action="@unauth.routes.Main.createUser()">

                @error.map { errorMessage =>
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Prénom" value="@firstName.getOrElse("")"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Nom" value="@lastName.getOrElse("")"/>
                </div>
                <div class="form-group">
                    <label for="login">Identifiant</label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Login" value="@login.getOrElse("")"/>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password"/>
                </div>
                <button type="submit" class="btn btn-default">S'enregistrer</button>
            </form>
        </div>
    </div>
}
