.intro {
    padding-top: 50px;
}

.logo {
    background: url("../images/bg_logo.png");
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10px;
}

.mainContent {
    background-image: url("../images/background-alpha.png");
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}

.modal-header, .modal-body {
    color: #000;
}

table {
    background: #000000;
}

#leafletmap {
    height: 500px;
    color: #000000;
}
