<div class="modal-header">
    <h3 class="modal-title">New event</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" placeholder="Enter name of event" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" id="inputDate" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" ng-model="date"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLocation" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLocation" placeholder="Enter the location" ng-model="location">
            </div>
        </div>
        <div class="form-group">
            <label for="inputUsers" class="col-sm-2 control-label">Users</label>
            <div class="col-sm-10">
                <select class="form-control" id="inputUsers" multiple="multiple" ng-model="guests">
                    <option value="{{u.login}}" ng-repeat="u in users">
                        {{u.firstName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="tagSelect" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <input select2-tags type="hidden" id="tagSelect" ng-model="tags" style="width:300px">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
