@(user:User)

@layouts.main{
    <div class="intro">
        <div class="mainContent">
            <h1>Hi @user.firstName !</h1>
            <div>
                <a href="@controllers.auth.routes.Home.logout()">Logout</a>
            </div>

            <div class="container" ng-app="napp" ng-controller="GlobalCtrl">
                <ng-include src="'@routes.Assets.at("partials/menu.html")'"></ng-include>
                <div ng-view></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/main.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/directives/select2Directives.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/homeController.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/eventsController.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/modals/newEventModalController.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/mapController.js")"></script>
}