<div>
    <h2>Events</h2>

    <div class="row">

        <table class="table">
            <thead>
                <th class="text-center">Name</th>
                <th class="text-center">Date</th>
                <th class="text-center">Place</th>
                <th class="text-center">Tags</th>
                <th class="text-center">Participants</th>
            </thead>
            <tbody>
                <tr ng-repeat="e in events">
                    <td>{{e.name}}</td>
                    <td>{{e.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{e.place}}</td>
                    <td>
                        <span class="label label-default" ng-repeat="t in e.tags">{{t}}</span>
                    </td>
                    <td>
                        <span class="label label-default" ng-repeat="p in e.participants">{{p._id}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="onNewEventClick()">New event</button>

    </div>

</div>