<div ng-init="init()">
    <h2>Angular says {{hello}}</h2>

    <div class="row">
        <h3>Pending events</h3>

        <table class="table">
            <thead>
            <th class="text-center">Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Place</th>
            <th class="text-center">Tags</th>
            <th class="text-center">Participants</th>
            <th class="text-center">Actions</th>
            </thead>
            <tbody>
            <tr ng-repeat="e in pendingEvents">
                <td>{{e.name}}</td>
                <td>{{e.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{e.place}}</td>
                <td>
                    <span class="label label-default" ng-repeat="t in e.tags">{{t}}</span>
                </td>
                <td>
                    <span class="label label-default" ng-repeat="p in e.participants">{{p._id}}</span>
                </td>
                <td>
                    <a href="" ng-click="changeStatus(e._id, 'approved')" class="btn btn-sm btn-default">Approve</a>
                    <a href="" ng-click="changeStatus(e._id, 'refused')" class="btn btn-sm btn-default">Refuse</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3>Approved events</h3>

        <table class="table">
            <thead>
            <th class="text-center">Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Place</th>
            <th class="text-center">Tags</th>
            <th class="text-center">Participants</th>
            </thead>
            <tbody>
            <tr ng-repeat="e in approvedEvents">
                <td>{{e.name}}</td>
                <td>{{e.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{e.place}}</td>
                <td>
                    <span class="label label-default" ng-repeat="t in e.tags">{{t}}</span>
                </td>
                <td>
                    <span class="label label-default" ng-repeat="p in e.participants">{{p._id}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3>Refused events</h3>

        <table class="table">
            <thead>
            <th class="text-center">Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Place</th>
            <th class="text-center">Tags</th>
            <th class="text-center">Participants</th>
            </thead>
            <tbody>
            <tr ng-repeat="e in refusedEvents">
                <td>{{e.name}}</td>
                <td>{{e.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{e.place}}</td>
                <td>
                    <span class="label label-default" ng-repeat="t in e.tags">{{t}}</span>
                </td>
                <td>
                    <span class="label label-default" ng-repeat="p in e.participants">{{p._id}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>