<ul class="nav nav-tabs" role="tablist">
    <li ng-click="activeItem='home'" ng-class="{active: currentPath.contains('home')}"><a href="#">Home</a></li>
    <li ng-click="activeItem='events'" ng-class="{active: currentPath.contains('events')}"><a href="#events">Events</a></li>
    <li ng-click="activeItem='map'" ng-class="{active: currentPath.contains('map')}"><a href="#map">Map</a></li>
</ul>